.aboutPara{
  margin-left: 10vh;
  height: 35vh;
  width: 70vw;
  font-family: "permanent marker", cursive;
  font-size: 1.5rem;

}
.about-section {
  opacity: 0;
  transform: translateY(50px); /* Adjust the initial position as needed */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}
.aboutMe{
  text-align: center;
  color: rgb(14, 155, 155);
  font-size: 3rem;
}
.aboutParaSkill{
  margin-left: 20vh;
  font-size: 1.5rem;
}