@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Delicious+Handrawn&display=swap');
.aboutPara{
  color: rgb(139, 137, 140);
  margin-left: 15vh;
  height: 35vh;
  width: 70vw;
  font-family: 'Alkatra', cursive;
    font-size: 1.5rem;

}
.about-section {
  display: grid;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px); /* Adjust the initial position as needed */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}
.aboutMe{
  text-align: center;
  font-family: 'permanent marker', cursive;
  color: rgb(14, 155, 155);
  font-size: 3rem;
}
.aboutParaSkill{
  font-family: 'Alkatra', cursive;
font-family: 'Delicious Handrawn', cursive;
  margin-left: 20vh;
  font-size: 2rem;
}
.list{
  cursor: pointer;
}
.card{
  margin-left: 50vb;
  width: 100vb;
  margin-top: 10vh;
  display: flex;
}
.btn{
  margin-left: 10vh;
  margin-bottom: 5vh;
  font-size: 2rem;
  background-color: transparent;
  color: rgb(201, 207, 211);
  border: none;
  height: 5vh;
  width: 17vb;
  cursor: pointer;
}
.aboutlist{
  color: rgb(139, 137, 140);
  margin-left: 15vh;
  height: 35vh;
  width: 70vw;
  font-family: 'Alkatra', cursive;
    font-size: 1.5rem;
  
}